# Replace these with your actual RapidAPI keys!
# Do NOT upload your real .env file, only upload this .env.example file

VITE_RAPIDAPI_KEY=
VITE_RAPIDAPI_HOST=google-api31.p.rapidapi.com
VITE_RAPIDAPI_URL=https://google-api31.p.rapidapi.com/translate

VITE_RAPIDAPI_OCR_KEY=
VITE_RAPIDAPI_OCR_HOST=ocr-extract-text.p.rapidapi.com
VITE_RAPIDAPI_OCR_URL=https://ocr-extract-text.p.rapidapi.com/ocr/extract-text
